body {
  font: 16pt/1.4 sans-serif;
}

img,
canvas {
  box-shadow: 0 0 5px -2px black;
  vertical-align: middle;
}

html,
body,
yahtzee-game {
  height: 100%;
}
body {
  font: 110%/1.4 sans-serif;
  background-color: #ddd;
  overflow: hidden;
}

input,
button {
  font-size: inherit;
}

input:disabled,
button:disabled {
  color: currentColor;
}

yahtzee-game {
  display: grid;
  place-items: center;
  grid-template:
    "categories" auto
    "roll" auto
    "dice" 1fr
    / 1fr;
}

.Categories {
  grid-area: categories;
}
.Dice {
  grid-area: dice;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.Roll {
  grid-area: roll;
}

.Categories {
  display: grid;
  grid-template:
    "one threeok" 1fr
    "two fourok" 1fr
    "three fh" 1fr
    "four ss" 1fr
    "five ls" 1fr
    "six chance" 1fr
    "upbonus yahtzee" 1fr
    "score score" 1fr
    / 1fr 1fr;
  max-width: 25em;
  gap: 0 2em;
}
.Categories > *:nth-child(1) {
  grid-area: one;
}
.Categories > *:nth-child(2) {
  grid-area: two;
}
.Categories > *:nth-child(3) {
  grid-area: three;
}
.Categories > *:nth-child(4) {
  grid-area: four;
}
.Categories > *:nth-child(5) {
  grid-area: five;
}
.Categories > *:nth-child(6) {
  grid-area: six;
}
.Categories > *:nth-child(7) {
  grid-area: upbonus;
  align-self: center;
}
.Categories > *:nth-child(8) {
  grid-area: threeok;
}
.Categories > *:nth-child(9) {
  grid-area: fourok;
}
.Categories > *:nth-child(10) {
  grid-area: fh;
}
.Categories > *:nth-child(11) {
  grid-area: ss;
}
.Categories > *:nth-child(12) {
  grid-area: ls;
}
.Categories > *:nth-child(13) {
  grid-area: chance;
}
.Categories > *:nth-child(14) {
  grid-area: yahtzee;
}
.Categories > *:nth-child(15) {
  grid-area: score;
  place-self: center;
}

.Categories > * > button {
  width: 2em;
  height: 100%;
}
.Categories > *:nth-child(6) ~ * > button {
  width: 5em;
}

yahtzee-die {
  display: inline-block;
  position: relative;
  --size: calc(5vmin + 1cm);
  width: var(--size);
  height: var(--size);
  transform-style: preserve-3d;
  margin: calc(var(--size) / 2);
  font-size: calc(var(--size) / 3);
}
yahtzee-die > div {
  display: inline-grid;
  place-content: center;
  width: var(--size);
  height: var(--size);
  border: 2px solid black;
  border-radius: 5px;
  background-color: white;
  position: absolute;
}
yahtzee-die > div:nth-child(n + 1) {
  transform: translateZ(calc(var(--size) / 2));
}
yahtzee-die > div:nth-child(n + 2) {
  transform: rotateY(180deg) translateZ(calc(var(--size) / 2));
}
yahtzee-die > div:nth-child(n + 3) {
  transform: rotateY(90deg) translateZ(calc(var(--size) / 2));
}
yahtzee-die > div:nth-child(n + 4) {
  transform: rotateY(-90deg) translateZ(calc(var(--size) / 2));
}
yahtzee-die > div:nth-child(n + 5) {
  transform: rotateX(90deg) translateZ(calc(var(--size) / 2));
}
yahtzee-die > div:nth-child(n + 6) {
  transform: rotateX(-90deg) translateZ(calc(var(--size) / 2));
}
