body {
  font: 16pt/1.4 sans-serif;
  margin: 0;
}

img,
canvas {
  box-shadow: 0 0 5px -2px black;
  vertical-align: middle;
}

html,
body {
  height: 100%;
}
body {
  font: 110%/1.4 sans-serif;
  background-color: #ddd;
}

.Categories {
  display: grid;
  grid-template:
    "one two three four five six ." 1fr
    "threeok fourok fh ss ls yahtzee chance" 1fr
    / 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.Categories > button:nth-child(1) {
  grid-area: one;
}
.Categories > button:nth-child(2) {
  grid-area: two;
}
.Categories > button:nth-child(3) {
  grid-area: three;
}
.Categories > button:nth-child(4) {
  grid-area: four;
}
.Categories > button:nth-child(5) {
  grid-area: five;
}
.Categories > button:nth-child(6) {
  grid-area: six;
}
.Categories > button:nth-child(7) {
  grid-area: threeok;
}
.Categories > button:nth-child(8) {
  grid-area: fourok;
}
.Categories > button:nth-child(9) {
  grid-area: fh;
}
.Categories > button:nth-child(10) {
  grid-area: ss;
}
.Categories > button:nth-child(11) {
  grid-area: ls;
}
.Categories > button:nth-child(12) {
  grid-area: yahtzee;
}
.Categories > button:nth-child(13) {
  grid-area: chance;
}

yahtzee-die {
  display: inline-block;
  position: relative;
  --size: 5em;
  width: var(--size);
  height: var(--size);
  transform-style: preserve-3d;
  margin: calc(var(--size) / 2);
}
yahtzee-die > div {
  display: inline-grid;
  place-content: center;
  width: var(--size);
  height: var(--size);
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  position: absolute;
}
yahtzee-die > div:nth-child(n + 1) {
  transform: translateZ(calc(var(--size) / 2));
}
yahtzee-die > div:nth-child(n + 2) {
  transform: rotateY(180deg) translateZ(calc(var(--size) / 2));
}
yahtzee-die > div:nth-child(n + 3) {
  transform: rotateY(90deg) translateZ(calc(var(--size) / 2));
}
yahtzee-die > div:nth-child(n + 4) {
  transform: rotateY(-90deg) translateZ(calc(var(--size) / 2));
}
yahtzee-die > div:nth-child(n + 5) {
  transform: rotateX(90deg) translateZ(calc(var(--size) / 2));
}
yahtzee-die > div:nth-child(n + 6) {
  transform: rotateX(-90deg) translateZ(calc(var(--size) / 2));
}
